@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}


body {
  color: rgb(var(--foreground-rgb));

}

h1 {
  font-weight: 600;
}

.battle-result {
  width: 280px;

  p {
    text-wrap: balance;
    max-width: 100%;
    width: fit-content;
    font-size: 1.1rem;
  }

  p:last-of-type {
    font-weight: 500;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}